
.windows,
.linux {
	font-family: 'KawaiiMono' !important;
}

/* vscode 투명화 */
.part.bottom {
	background-color: transparent !important;
	background: none !important;
}
.part.bottom .content {
	background-color: rgb(11, 10, 14) !important;
	opacity: 0.94 !important;
}
.part.bottom .composite.title {
	background-color: rgba(11, 10, 14, 0.94) !important;
}
.part.right {
	border-right: 0px !important;
	border-left: 0px !important;
	background-color: transparent !important;
	background: none !important;
}
.part.right .content {
	background-color: rgba(11, 10, 14) !important;
	width: 100% !important;
	opacity: 0.94 !important;
}
.part.right .composite.title,.part.left .composite.title {
	background-color: rgba(11, 10, 14, 0.9) !important;
}
.pane-header {
	background-color: rgba(20, 17, 26, 0.9) !important;
}

.monaco-breadcrumbs,
.tabs-container .tab {
	background-color: transparent !important;
	background: none !important;
}

.title.tabs.show-file-icons {
	background-color: #000000bd !important;
}

.monaco-editor .margin {
	background-color: #0000002d !important;
}

.monaco-editor-background {
	background-color: transparent !important;
}
.editor-container {
	background-color: rgba(0, 0, 0, 0.78) !important;
}
.monaco-editor,
.part.editor .content:not(.content.empty),
.editor-group-container {
	background-color: transparent !important;
	background: none !important;
}
.content.empty {
	background-color: rgba(0, 0, 0, 0.78) !important;
}

.composite.title .title-label {
	z-index: 1 !important;
}
.part.sidebar.left {
	background-color: rgba(0, 0, 0, 0.8) !important;
}
.part.auxiliarybar.basepanel.right {
	background-color: #000000bd !important;
}

.part.statusbar {
	background-color: rgba(0, 0, 0, 0.8) !important;
}
.part.activitybar {
	background-color: rgba(0, 0, 0, 0.8) !important;
	margin: 0px 0px 0px 0px !important;
}
.part.statusbar::before,
.part.activitybar .content::before {
	z-index: -1;
	/* backdrop-filter: blur(4px); */
	content: \"\";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

/* // ".mtk1 {color: #dfdfdf !important; text-shadow: 0 0 8px #f0f0f0 !important;} */
/* // ".mtk3 {color: #6c8271 !important;} */
/* // ".mtk9 {color: #ff7d87 !important; text-shadow: 0 0 8px #ff7d87 !important;} */
/* // ".mtk8 {text-shadow: 0 0 8px #56b6c2 !important;} */
/* // ".mtk6 {text-shadow: 0 0 8px #56b6c2 !important;} */
/* // ".mtk5 {text-shadow: 0 0 8px #c678dd !important; font-style: italic; font-weight: bold;} */
.mtk5 {
	font-style: italic;
	font-weight: bold;
}

/* // ".mtk7 {text-shadow: 0 0 8px #d19a66 !important;} */
/* // ".mtk11 {text-shadow: 0 0 8px #98c379 !important;} */
/* // ".mtk4 {text-shadow: 0 0 8px #e5c07b !important;} */
.view-lines {
	animation: custom_fadein 0.6s
}

@keyframes custom_fadein {
	from {
		opacity: 0.2;
	}

	to {
		opacity: 1;
	}
}

.selectionHighlight {
	animation: custom_fadein 0.12s;
}

.wordHighlightStrong {
	animation: custom_fadein 0.12s;
}

.wordHighlight {
	animation: custom_fadein 0.12s;
}

/* .monaco-workbench .monaco-menu::before {
	backdrop-filter: blur(4px);
	border-radius: 14px;
	box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.3);
	content: \"\";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
} */

/* .monaco-workbench .monaco-menu .monaco-action-bar.vertical {
	animation: custom_fadein 0.3s;
	box-shadow: none;
	background: transparent !important;
	background-color: transparent !important;
} */

/* .monaco-workbench .part.titlebar>.window-appicon {
	display: none !important;
} */

/* .monaco-list-row.focused,
.monaco-list-row.selected,
.monaco-list-row:hover {
	background-color: rgba(255, 255, 255, 0.05) !important;
	border-radius: 12px !important;
	outline: none !important;
} */
/*
.menubar {
	margin-left: 8px !important;
}

.window-title {
	transform: none !important;
	position: fixed !important;
	left: 0px !important;
	margin-left: 232px !important;
}

.menubar .menubar-menu-button {
	color: transparent !important;
	width: 25px !important;
	padding-left: 0px !important;
}

.menubar .menubar-menu-button::before {
	opacity: 0.55;
	position: absolute;
	height: 29px;
	width: 25px;
	content: \"\";
	background-position-x: 3px;
	background-position-y: 5px;
	background-repeat: no-repeat;
	background-size: 19px 19px;
} */

.part.banner {
	background-color: #000000bd !important;
}

.monaco-inputbox {
	background-color: rgba(51, 55, 71, 0.43) !important;
}

/* 미니맵 */
.minimap.slider-mouseover {
	backdrop-filter: blur(2px);
	background: transparent;
}
.minimap.slider-mouseover canvas:not(.minimap-decorations-layer) {
	opacity: 0.7;
}
.minimap.slider-mouseover canvas:not(.minimap-decorations-layer):hover {
	opacity: 0.9;
}

/* 찾기 위젯 */
.editor-widget.find-widget {
	background-color: rgba(14, 14, 15, 0.6) !important;
}
.editor-widget.find-widget::before {
	z-index: -1;
	backdrop-filter: blur(1px);
	content: \"\";
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

/* 커서 */
.cursor {
	transition: all 180ms cubic-bezier(0.22, 1, 0.36, 1) !important;
}

/* 리커넥트 */
.monaco-dialog-box {
	border-radius: 8px !important;
	box-shadow: 0px 0px 22px -2px rgba(12, 13, 17, 0.2) !important;
	backdrop-filter: blur(1px);
	background: transparent !important;
	background-color: rgba(9, 8, 16, 0.8) !important;
}

/* 자동완성 다이어로그 */
.suggest-input-container {
	background-color: rgba(51, 55, 71, 0.43) !important;
}
.suggest-widget {
	transition: all 78ms !important;
	border-radius: 10px !important;
	box-shadow: 0px 0px 22px -2px rgba(12, 13, 17, 0.2) !important;
	backdrop-filter: blur(2px);
	background: transparent !important;
	background-color: rgba(9, 8, 16, 0.6) !important;
}
.suggest-widget .tree {
	background: transparent !important;
	background-color: transparent !important;
}
.suggest-widget .tree .monaco-list-rows .focused {
	border-radius: 10px !important;
	background-color: rgba(180, 180, 180, 0.4) !important;
}
.suggest-details-container {
	background-color: transparent !important;
	background: rgba(42, 42, 42, 0.1)
}
.suggest-details-container .suggest-details {
	border-radius: 10px !important;
	box-shadow: 0px 0px 22px -2px rgba(12, 13, 17, 0.2) !important;
	backdrop-filter: blur(3px) !important;
	background-color: rgba(9, 8, 16, 0.68) !important;
	background: transparent;
}

/* 호버(힌트) 다이어로그 */
.monaco-hover {
	border-radius: 6px !important;
	box-shadow: 0px 0px 22px -2px rgba(12, 13, 17, 0.2) !important;
	backdrop-filter: blur(3px);
	background: transparent !important;
	background-color: rgba(9, 8, 16, 0.68) !important;
}
.parameter-hints-widget {
	border-radius: 6px !important;
	box-shadow: 0px 0px 22px -2px rgba(12, 13, 17, 0.2) !important;
	backdrop-filter: blur(3px);
	background: transparent !important;
	background-color: rgba(9, 8, 16, 0.68) !important;
}

/* 오른쪽 매뉴바 선택 모양 */
/* .monaco-workbench .activitybar > .content :not(.monaco-menu) > .monaco-action-bar .action-item.checked .active-item-indicator {
	background-color: rgba(0,0,0,0);
}
.monaco-workbench .activitybar > .content :not(.monaco-menu) > .monaco-action-bar .action-item.checked .active-item-indicator::before {
	height: calc(100% - 18px);
	border-radius: 0px 2px 2px 0px;
	width: 2px;
	top: 9px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	content: "";
	position: absolute;
	background-color: var(--vscode-button-background);
} */

/* 퀵 위젯 */
@keyframes custom_quick_input_widget {
	from {
		transform: translateY(10vh);
		top: -200px !important;
		opacity: 0.2;
	}

	to {
		transform: none;
		/* top: 30px; */
		opacity: 1;
	}
}
.quick-input-list .monaco-list .monaco-scrollable-element .monaco-list-rows {
	background: none !important;
}
.quick-input-widget {
	border-radius: 8px !important;
	background-color: rgba(9, 8, 16, 0.68) !important;
	box-shadow: 0px 0px 22px -2px rgba(7, 8, 10, 0.2) !important;
	backdrop-filter: blur(3px) !important;
	top: 25vh !important;
	animation: custom_quick_input_widget 0.3s cubic-bezier(0.19, 1, 0.22, 1) !important;
}
.command-center-center {
	background-color: rgba(53, 58, 85, 0.3) !important;
}

/* 알림창 */
.notification-toast {
	border: none !important;
	border-radius: 6px !important;
	box-shadow: 0px 0px 22px -2px rgba(12, 13, 17, 0.2) !important;
	backdrop-filter: blur(3px);
	background: transparent !important;
	background-color: rgba(9, 8, 16, 0.68) !important;
}
.monaco-list-rows {
	background: none !important;
	background-color: transparent !important;
}
.notifications-list-container {
	background: none !important;
	background-color: transparent !important;
}
.notifications-center.visible {
	border-radius: 12px !important;
	backdrop-filter: blur(3px) !important;
}
.notifications-center-header {
	background: rgba(38, 38, 38, 0.2) !important;
}
