/* 사이드바 해더 숨기기 */
#sidebar-header {
	display: none !important;
}

/* 기본 탭들 숨기기 */
#TabsToolbar > *:not(.titlebar-buttonbox-container) {
	display: none !important;
}

/* URL 바 열었을 때 더 크게 */
#urlbar-container>#urlbar {
	--urlbar-height: 35px !important;
	--urlbar-container-padding: 0px !important;
	@media only screen and (min-width: 660px) {
		--urlbar-margin-inline: 80px !important;
	}
}

/* 탭바 배경을 타이틀바 배경으로 사용 */
#nav-bar {
	background: transparent !important;
	margin-right: 72px !important;
	border-top: none !important;
}

/* window button to right */
.titlebar-buttonbox-container {
	position: absolute !important;
	right: 0px !important;
}
.titlebar-buttonbox {
	height: 40px !important;
}
#navigator-toolbox { /* parent */
	position: relative !important;
}
#TabsToolbar { /* child (tabs) */
	position: absolute !important;
}

/* adjust items for sizes */
@media only screen and (max-width: 590px) {
	#stop-reload-button {
		display: none !important;
	}
}
@media only screen and (max-width: 490px) {
	#back-button, #forward-button {
		display: none !important;
	}
	#urlbar-container {
		margin-left: 10px !important;
	}
}
#urlbar-container {
	margin-left: 4px !important;
}

/* sidebar size when not focused */
#sidebar-box { /* parent */
	overflow: visible;
  z-index: 1000 !important;
	--uc-sidebar-width: 40px; /* Only thing I (gale) changed */
	--uc-sidebar-hover-width: 240px;
	--uc-autohide-sidebar-delay: 140ms; /* Wait 0.6s before hiding sidebar */
	position: relative;
	min-width: var(--uc-sidebar-width) !important;
	width: var(--uc-sidebar-width) !important;
	max-width: var(--uc-sidebar-width) !important;
	z-index: 1;
}
#sidebar { /* child */
	transition: min-width 215ms cubic-bezier(0.23, 1, 0.320, 1) var(--uc-autohide-sidebar-delay) !important;
	min-width: var(--uc-sidebar-width) !important;
	will-change: min-width;
	
  /* Border */
	border-inline: 1px solid ThreeDShadow;
	border-inline-width: 0px 1px;
}

/* 호버시 사이즈 키우기 */
#sidebar-box:hover > #sidebar {
	min-width: var(--uc-sidebar-hover-width) !important;
	transition-delay: 0ms !important;
}

#sidebar-splitter {
	/* 사이드바 리사이저 지우기 */
	display: none;
}

/* 풀스크린 상태에서 사이드바 축소 (1픽셀로 표현) */
:root[inFullscreen] #sidebar-box {
	--uc-sidebar-width: 1px;
	opacity: 0;
	transition: opacity 215ms linear var(--uc-autohide-sidebar-delay);
	&:hover{
		transition: none;
  	opacity: 1;
	}
}
