@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/* Credits to https://github.com/MrOtherGuy for hthe following snippet*/

/* Source file https://github.com/MrOtherGuy/firefox-csshacks/tree/master/chrome/autohide_sidebar.css made available under Mozilla Public License v. 2.0
See the above repository for updates as well as full license text. */

/* Show sidebar only when the cursor is over it */
/* The border controlling sidebar width will be removed so you'll need to modify these values to change width */


/* hides the sidebar header */
#sidebar-header {
	display: none !important;
}

/* remove default tabs */
#TabsToolbar > *:not(.titlebar-buttonbox-container) { /* remove all and keep only buttons*/
	display: none !important;
}
.titlebar-buttonbox {
	height: 40px !important;
}
#navigator-toolbox { /* parent */
	position: relative !important;
}
#TabsToolbar { /* child (tabs) */
	position: absolute !important;
}

/* transparent topbar */
#nav-bar {
	background: transparent !important;
	margin-left: 76px !important;
	margin-top: -var(--urlbar-container-height) !important;
}

/* adjust items for sizes */
@media only screen and (max-width: 590px) {
	#stop-reload-button {
		display: none !important;
	}
}
@media only screen and (max-width: 490px) {
	#back-button, #forward-button {
		display: none !important;
	}
	#urlbar-container {
		margin-left: 10px !important;;
	}
}

/* sidebar size when not focused */
#sidebar-box { /* parent */
	--uc-sidebar-width: 40px; /* Only thing I (gale) changed */
	--uc-sidebar-hover-width: 240px;
	--uc-autohide-sidebar-delay: 140ms; /* Wait 0.6s before hiding sidebar */
	position: relative;
	min-width: var(--uc-sidebar-width) !important;
	width: var(--uc-sidebar-width) !important;
	max-width: var(--uc-sidebar-width) !important;
	z-index: 1;
}
#sidebar { /* child */
	transition: min-width 215ms cubic-bezier(0.23, 1, 0.320, 1) var(--uc-autohide-sidebar-delay) !important;
	min-width: var(--uc-sidebar-width) !important;
	will-change: min-width;
	
  /* Border */
	border-inline: 1px solid ThreeDShadow;
	border-inline-width: 0px 1px;
}

/* sidebar size when focused */
#sidebar-box:hover > #sidebar {
	min-width: var(--uc-sidebar-hover-width) !important;
	transition-delay: 0ms !important;
}

/* sidebar resizer */
#sidebar-splitter {
	display: none;
}

/* hide when fullscreen */
[inFullscreen] #sidebar {
	--uc-sidebar-width: 1px !important;
	display: none !important;
}
