:root {
	/* 타이틀바 시스템 버튼 영역 크기 */
	--q-titlebar-buttonbox-width: 72px;
	--q-titlebar-buttonbox-height: 40px;
	
	/* 사이드바 설정 */
	--q-sidebar-width: 40px; /* 사이드바가 닫혀 있을 때 크기 */
	--q-sidebar-active-width: 240px; /* 사이드바가 열려 있을 때 크기 */
	--q-sidebar-hide-delay: 140ms;
	--q-sidebar-hide-time: 195ms;
	--q-sidebar-hide-ease: cubic-bezier(0.23, 1, 0.320, 1);
	--q-sidebar-open-time: 215ms;
	--q-sidebar-open-ease: cubic-bezier(0.23, 1, 0.320, 1);
	--q-sidebar-open-delay: 0ms;
}

/* 기본 탭 바 숨기기 */
#TabsToolbar > *:not(.titlebar-buttonbox-container) {
	display: none !important;
}

/* URL 바 열었을 때 더 크게 */
#urlbar-container>#urlbar {
	--urlbar-height: 35px !important;
	--urlbar-container-padding: 0px !important;
	@media only screen and (min-width: 660px) {
		--urlbar-margin-inline: 80px !important;
	}
}

/* 탭바 배경을 타이틀바 배경으로 사용 */
#nav-bar {
	background: transparent !important;
	margin-right: var(--q-titlebar-buttonbox-width) !important;
	border-top: none !important;
}

/* 창 컨트롤 버튼을 오른쪽으로 이동 */
.titlebar-buttonbox-container {
	position: absolute !important;
	right: 0px !important;
}
.titlebar-buttonbox {
	height: var(--q-titlebar-buttonbox-height) !important;
}
#navigator-toolbox { /* parent */
	position: relative !important;
}
#TabsToolbar { /* child (tabs) */
	position: absolute !important;
}

/* adjust items for sizes */
@media only screen and (max-width: 590px) {
	#stop-reload-button {
		display: none !important;
	}
}
@media only screen and (max-width: 490px) {
	#back-button, #forward-button {
		display: none !important;
	}
	#urlbar-container {
		margin-left: 10px !important;
	}
}
#urlbar-container {
	margin-left: 4px !important;
}

/* 사이드바 해더, 리사이저 숨기기 */
#sidebar-splitter, #sidebar-header {
	display: none !important;
}

/* 사이드바 자식 내용이 넘처 흐를 수 있게합니다 */
#sidebar-box {
	overflow: visible;
  z-index: 1000 !important;
	position: relative;
}

/* 사이드바 호버 영역 크기 조절 */
#sidebar-box {
  width: var(--q-sidebar-width) !important;
	max-width: var(--q-sidebar-width) !important;
	min-width: var(--q-sidebar-width) !important;
}
:root[inFullscreen] #sidebar-box {
	width: 1px !important;
	max-width: 1px !important;
	min-width: 1px !important;
}

/* 사이드바 내부 브라우저를 클립하여 트랜지셔닝합니다. */
#sidebar-box {
	clip-path: rect(0px var(--q-sidebar-width) 100% 0px);
	transition: clip-path var(--q-sidebar-hide-time) var(--q-sidebar-hide-ease) var(--q-sidebar-hide-delay) !important;
}
:root[inFullscreen] #sidebar-box {
	clip-path: rect(0px 1px 100% 0px);
}
#sidebar-box:hover, :root[inFullscreen] #sidebar-box:hover {
	clip-path: rect(0px var(--q-sidebar-active-width) 100% 0px);
	transition: clip-path var(--q-sidebar-open-time) var(--q-sidebar-open-ease) var(--q-sidebar-open-delay) !important;
}

/* 사이드바 내부 브라우저의 실제 크기를 조절합니다 */
#sidebar-box #sidebar {
	transition: width 0s linear calc(var(--q-sidebar-hide-time) + var(--q-sidebar-hide-delay));
	width: var(--q-sidebar-width) !important;
}
:root[inFullscreen] #sidebar-box #sidebar {
	width: 1px !important;
}
#sidebar-box:hover #sidebar, :root[inFullscreen] #sidebar-box:hover #sidebar {
	transition: width 0s linear 0s;
	width: var(--q-sidebar-active-width) !important;
}
